@font-face {
    font-family: 'Ponte';
    src: url('assets/fonts/Ponte/Ponte.ttf');
}

@font-face {
    font-family: 'PonteLightItalic';
    src: url('assets/fonts/Ponte/PonteLightItalic.ttf');
}

@font-face {
    font-family: 'PonteLight';
    src: url('assets/fonts/Ponte/PonteLight.ttf');
}

@font-face {
    font-family: 'PonteMedium';
    src: url('assets/fonts/Ponte/PonteMedium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #0A0A0A;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

.title {
    position: fixed;
    bottom: 10%;
    width: 100%;
    text-align: center;
    z-index: 1000;
    padding: 0 10px;
}

.title h1 {
    font-family: 'PonteLightItalic', sans-serif;
    font-size: clamp(8vw, 10vw, 12vw); /* Dynamisch tussen 8vw en 12vw */
    color: white;
    will-change: transform, font-size;
    letter-spacing: clamp(0.1rem, 0.3rem, 0.5rem); /* Letterafstand responsief */
    position: relative;
    z-index: 1;
    margin: 0 auto; /* Centreer */
    line-height: 1; /* Verklein ruimte tussen regels */
}

.pyramid {
    padding-bottom: 200px;
}

.pyramid-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    width: 100%;
    height: auto; 
}

.content {
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 200vh 20px;
    text-align: center;
}

.parallax-container {
    position: relative;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box1 {
    width: 100%;
    height: 100vh; 
    justify-content: center;
    align-items: center; 
    transform: translateY(10vh);
}

.box1 p {
    font-family: 'PonteLight';
    font-size: clamp(1.2rem, 1.5rem);
    color: white;
    text-align: center;
}

.box1 img {
    width: 30vw;
    pointer-events: none;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-20px) scale(1.2);
    }
}

@media (max-width: 768px) {
    .pyramid-image {
        display: none; 
    }

    .title {
        position: fixed;
        top: 0;
        width: 100%; 
        z-index: 1; 
        padding: 10px 0; 
        text-align: center; 
    }
    
    .title h1 {
        font-size: 10vw; 
    }

    .content {
        padding-top: 20px;
    }

    .box1 {
        margin-top: 0; 
    }

    .box1 p {
        font-size: 1rem;
    }

    .box1 img {
        width: 50vw;
    }
}

@media (max-width: 768px) {
    .title h1 {
        font-size: clamp(6vw, 8vw, 10vw);
        letter-spacing: 0.2rem; 
    }
}

@media (min-width: 1440px) {
    .title h1 {
        font-size: 14vw;
        letter-spacing: 0.5rem;
    }
}
